*{
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    background-color: #0f1824;
    height: 100%;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

canvas {
    display: block;
    vertical-align: bottom;
}


/* ========= particles.js container ========= */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* ================================================================
========================== MAIN BODY ==============================
=================================================================== */

.hamburger {
  width: 50px;
  cursor: pointer;
  z-index: 999;
  position: relative;
  margin-right: 3vw;
  margin-top: 5vh;
  float: right;
}
.overlay-menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
    z-index: 990;
    opacity: 0;
    padding: 64px;
}
.overlay-menu ul{
    color: whitesmoke;
    font-size: 2rem;
    margin: 9% auto 0 auto;
    width: 50vw;
    padding: 0;
    /*transform: translateX(-50%);*/
    text-align: center;
    list-style: none;
    text-decoration: none;
}
.overlay-menu ul li{
    margin: 30px;
    
}
.overlay-menu ul li a {
    text-decoration: none;
    color: inherit;
    margin-bottom: 6px;
    transition: 0.2s;
    border-bottom: 2px dashed transparent;
}
.overlay-menu ul li a:hover{
    color: rgb(240,103,48);
    text-decoration: underline;
}
#header {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 100
}

#header img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    width: 45%;
}

.wrapper {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    z-index: 100 margin: 0 auto;
    position: absolute;
}
/* ====== PLANET ANIMATION ======= */
.planet1 {
  -webkit-animation: mymove1 18s ease-in-out infinite; /* Safari 4.0 - 8.0 */
  animation: mymove1 18s ease-in-out infinite;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@-webkit-keyframes mymove1 {
  from {left: 0px;}
  to {left: 100px;}
}
@keyframes mymove1 {
  from {left: 0px;}
  to {left: 100px;}
}

.planet2 {
  -webkit-animation: mymove2 18s ease-in-out infinite; /* Safari 4.0 - 8.0 */
  animation: mymove2 18s ease-in-out infinite;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@-webkit-keyframes mymove2 {
  from {top: 0px;}
  to {top: 100px;}
}
@keyframes mymove2 {
  from {top: 0px;}
  to {top: 100px;}
}
/*============
.astro img{
    height: 120px;
    width: auto;
    transform: rotate(-25deg);
      -webkit-animation: astrofly 2.5s ease-in-out infinite;
      animation: astrofly 2.5s ease-in-out infinite;
      animation-iteration-count: infinite;
      animation-direction: alternate;
}
@-webkit-keyframes astrofly {
  from {top: 0px;}
  to {top: 30px;}
}
@keyframes astrofly {
  from {top: 0px;}
  to {top: 30px;}
}
===========*/

.ahead {
    z-index: 100;
    position: relative;
}


/* =========== FLUID ============ */
.fluid-container {
    position: absolute;
    top: 20%;
    left: 15%;
    margin-left: auto;
    z-index: 0
}

.fluid {
    margin-left: auto;
}

.fluid::before {
    content: '';
    display: block;
    width: 120vh;
    height: 60vh;
    min-height: 200px;
    min-width: 200px;
    border: 2px solid #65737e; /* #2e476b - dark */
    background-size: 1600% 1600%;
    animation:transform 55s ease-in-out infinite both alternate;
}

@keyframes transform {

    0%,
    100% {
        border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }

    14% {
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }

    28% {
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }

    42% {
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }

    56% {
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }

    70% {
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }

    84% {
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
}

@use autoprefixer(browsers: "> 3%");

/* =========== FLUID END ============= */

.bottomleft {
    position: absolute;
    bottom: 60px;
    left: -45px;
    font-size: 14px;
    font-family: sans-serif;
    color: #2d476c;
    transform: rotate(90deg);

}
